Source: liblocale-gettext-perl
Section: perl
Rules-Requires-Root: no
Priority: required
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Niko Tyni <ntyni@debian.org>, gregor herrmann <gregoa@debian.org>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), perl:native, perl-xs-dev
Homepage: https://metacpan.org/release/gettext
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/liblocale-gettext-perl.git
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/liblocale-gettext-perl
Testsuite: autopkgtest-pkg-perl
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: liblocale-gettext-perl
Architecture: any
Pre-Depends: ${perl:Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: module using libc functions for internationalization in Perl
 The Locale::gettext module permits access from perl to the gettext() family of
 functions for retrieving message strings from databases constructed
 to internationalize software.
 .
 It provides gettext(), dgettext(), dcgettext(), textdomain(),
 bindtextdomain(), bind_textdomain_codeset(), ngettext(), dcngettext()
 and dngettext().
