Source: liblocale-gettext-perl
Section: perl
Priority: required
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Niko Tyni <ntyni@debian.org>, gregor herrmann <gregoa@debian.org>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.20141010~), dpkg-dev (>= 1.17.14), perl:any, perl-cross-config <cross>
Homepage: https://metacpan.org/release/gettext
Vcs-Git: https://anonscm.debian.org/git/pkg-perl/packages/liblocale-gettext-perl.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-perl/packages/liblocale-gettext-perl.git
Testsuite: autopkgtest-pkg-perl
XS-Pexip-Upstream: http://ftp.debian.org/debian/ stretch

Package: liblocale-gettext-perl
Architecture: any
Pre-Depends: ${perl:Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: module using libc functions for internationalization in Perl
 The Locale::gettext module permits access from perl to the gettext() family of
 functions for retrieving message strings from databases constructed
 to internationalize software.
 .
 It provides gettext(), dgettext(), dcgettext(), textdomain(),
 bindtextdomain(), bind_textdomain_codeset(), ngettext(), dcngettext()
 and dngettext().
