#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

# The generated ${perl:Depends} must be on perl-base and not perl as the
# package is part of the base system
override_dh_perl:
	dh_perl -d

override_dh_auto_test:
	LC_ALL=bg_BG.utf8 dh_auto_test
